In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\13432\anaconda3\lib\site-packages (2.0.1)

In [2]:
import pandas as pd
import zipfile

In [9]:
zf = zipfile.ZipFile("C:/Users/13432/Downloads/Perfume_Dataset.zip")

In [10]:
zf.namelist()

['perfume_data.csv', 'testing in rows.xls']

In [11]:
df = pd.read_csv(zf.open('perfume_data.csv'))

In [12]:
df.head()

,ajayeb,"64,558","64,556","64,543","64,543.1","64,541","64,543.2","64,543.3","64,541.1","64,541.2",...,"64,541.8","64,541.9","64,541.10","64,541.11","64,541.12","64,541.13","64,528.2","64,528.3","64,528.4","64,528.5"
0,ajmal,"60,502","60,489","61,485","60,487","61,485","61,513","60,515","60,500","60,500",...,"60,472","60,472","60,461","61,470","60,487","60,487","61,485","60,487","60,472","60,472"
1,amreaj,"57,040","57,040","57,040","58,041","58,041","58,041","58,041","57,042","57,042",...,"58,041","58,041","58,041","58,041","58,041","58,041","58,041","58,041","58,041","58,041"
2,aood,"71,083","72,087","71,091","71,095","71,099","72,103","71,099","72,099","72,099",...,"72,095","71,095","71,095","72,103","71,103","71,103","71,103","72,103","72,103","72,098"
3,asgar_ali,"68,209","68,209","68,216","68,216","68,223","68,223","68,223","68,223","68,230",...,"68,230","67,224","67,217","67,217","68,223","68,223","68,223","68,223","68,223","68,230"
4,bukhoor,"71,046","71,046","71,046","71,046","71,046","71,046","71,046","71,046","71,046",...,"70,049","70,049","70,049","70,048","70,049","70,048","70,046","70,046","70,048","71,048"